.roomButton {
	-moz-box-shadow:inset 16px -13px 15px -12px #59514e;
	-webkit-box-shadow:inset 16px -13px 15px -12px #59514e;
	box-shadow:inset 16px -13px 15px -12px #59514e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #aff21d), color-stop(1, #26331c));
	background:-moz-linear-gradient(top, #aff21d 5%, #26331c 100%);
	background:-webkit-linear-gradient(top, #aff21d 5%, #26331c 100%);
	background:-o-linear-gradient(top, #aff21d 5%, #26331c 100%);
	background:-ms-linear-gradient(top, #aff21d 5%, #26331c 100%);
	background:linear-gradient(to bottom, #aff21d 5%, #26331c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#aff21d', endColorstr='#26331c',GradientType=0);
	background-color:#aff21d;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#3e074d;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 3px #53b0b5;
}
.roomButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #26331c), color-stop(1, #aff21d));
	background:-moz-linear-gradient(top, #26331c 5%, #aff21d 100%);
	background:-webkit-linear-gradient(top, #26331c 5%, #aff21d 100%);
	background:-o-linear-gradient(top, #26331c 5%, #aff21d 100%);
	background:-ms-linear-gradient(top, #26331c 5%, #aff21d 100%);
	background:linear-gradient(to bottom, #26331c 5%, #aff21d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#26331c', endColorstr='#aff21d',GradientType=0);
	background-color:#26331c;
}
.roomButton:active {
	position:relative;
	top:1px;
}
