<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="model.closeRoom()">&times;</button>
    <h4 class="modal-title">Start new Thead</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="text-right">Plese enter chat room name: <input class="form-control" type="textarea" ng-model="model.roomTitle" name="chatRoomCreator" minlength=3 required/></div>
      <br />
      <div class="text-right">Create Room <a class="roomButton" ng-click="model.makeRoom()">New Room</a></div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="model.closeRoom()">Close</button>
  </div>
</div>